* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

#main {
	margin:10px;
	border-radius:5px;
	background-color:#e0e0eb;
	height:800px;
}
#title {
	
	padding: 30px;
}

#title h1,p {
	text-align:center;
}

#title p {
	font-size:20px;
}

#img-div {
	/* centering */
	display:block;
	margin-left: auto;
	margin-right:auto;
	

	padding:40px;
	background-color:#fff;
    
}
#image {

	display:block;
	margin-left: auto;
	margin-right:auto;
	width:50%
}
#img-div p {
	margin-left:60px;
	font-size:20px;
}